[submodule ".config/tmux"]
	path = .config/tmux
	url = git@github.com:VV0JC13CH/config-tmux.git
	branch = main
[submodule ".config/alacritty"]
	path = .config/alacritty
	url = git@github.com:VV0JC13CH/config-alacritty.git
	branch = main
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:VV0JC13CH/config-nvim.git
	branch = main
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".config/fish"]
	path = .config/fish
	url = git@github.com:VV0JC13CH/config-fish.git
	branch = main
